@use "./variables.scss" as *;

// put your custom CSS here!
.page > #quartz-body .sidebar {
  padding-top: 1rem;
}

.explorer-content .folder-outer > ul {
  border-left: 0;
}

.explorer-content .folder-outer > ul > li {
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.explorer-content .folder-outer > ul > li::before {
  content: "·";
  margin-right: 8px;
  flex-shrink: 0;
}

.explorer button.desktop-explorer {
  display: none;
}

.explorer-content .folder-outer > ul > li > .tree-item-inner {
  flex: 1;
}

.folder-button {
  color: #000000;
}

.folder-container {
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}

.page-title {
  color: #000000;
  display: none;
}

.folder-title {
  font-size: x-large;
}

.nav-file-title {
  color: #35542B;
}

.nav-file-title.active {
  color: darkred;
}

.page-header {
  margin-top: 0;
}

.folder-container .explorer svg {
 height: 6px;
}